NODE_ENV=development
PORT=8080

MODELS_ENV=
MODELS_READ_ONLY_TOKEN=

DB_HOST=database
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=jagadamba

SLAVE_DB_HOST=database
SLAVE_DB_PORT=5432
SLAVE_DB_USERNAME=postgres
SLAVE_DB_PASSWORD=postgres
SLAVE_DB_NAME=jagadamba

REDIS_HOST=redis-database
REDIS_PORT=6379
REDIS_PASSWORD=

PUB_SUB_REDIS_DB_HOST=redis-database
PUB_SUB_REDIS_DB_PORT=6379
PUB_SUB_REDIS_DB_PASSWORD=

# It will accept comma seperated values of domains without space e.g. http://localhost.com,http://test.com
CORS=http://localhost:3000,http://localhost:8080

BCRYPT_SALT=10

SUPER_ADMIN_EMAIL=yesiamsatyam.kumar@gmail.com
SUPER_ADMIN_USERNAME=imsatyam
SUPER_ADMIN_PASSWORD=Admin@==1234

AWS_BUCKET
AWS_REGION
AWS_ACCESS_KEY
AWS_SECRET_ACCESS_KEY

MAILJET_API_KEY=testKeys
MAILJET_SECRET_KEY=testSecret
MAILJET_SENDER_EMAIL=youremail@mail.com
MAILJET_SENDER_NAME=yourname

USER_BACKEND_ENDPOINT=http://localhost:8004
USER_FRONTEND_ENDPOINT=http://localhost:8005
USER_BACKEND_BASIC_AUTH_USERNAME=testAdmin
USER_BACKEND_BASIC_AUTH_PASSWORD=testAdmin@11


INTERNAL_BASIC_AUTH_USERNAME=testAdmin
INTERNAL_BASIC_AUTH_PASSWORD=testAdmin@11


QUEUE_WORKER_BACKEND_ENDPOINT=http://localhost:8009
QUEUE_WORKER_BASIC_AUTH_USERNAME=testAdmin
QUEUE_WORKER_BASIC_AUTH_PASSWORD=testAdmin@11


PUSH_NOTIFICATION_PUBLIC_KEY=BDHv4pfYQXWCbzYQ4OCw4g9VdMBb5gHoQ5rprbqFqZgJ7vkRP8gZEKrblSuc0PKsndfX2nM2Kosy5-YmF6lUK2s
PUSH_NOTIFICATION_PRIVATE_KEY=Wt-R_lMffBW5F9ZQAguODBsh46YBU-DHwZXZBPe3fMc
PUSH_NOTIFICATION_SUBJECT=mailto: <yesiamsatyam.kumar@gmail.com>

TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN
TWILIO_SERVICE_SID
TWILIO_PHONE_NUMBER

RAZORPAYX_KEY_ID
RAZORPAYX_KEY_SECRET
RAZORPAYX_ACCOUNT_NUMBER
